@model FoodDelivery.Data.models.Order

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <section class="checkout">
        <div class="container">
            <h2 class="block-title">Оформление заказа</h2>
            <p class="text-center black">
                <span>Введите</span> следующую информацию:
            </p>
            <div class="row mb-5" style="padding-top: 50px;">
                <form asp-action="Checkout" method="post" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="name" placeholder="Ваше имя" class="input" />
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="surname" placeholder="Ваша фамилия" class="input" />
                            <span asp-validation-for="surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="adress" placeholder="Ваш адрес доставки" class="input" />
                            <span asp-validation-for="adress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="phone" placeholder="Ваш номер телефона" class="input" />
                            <span asp-validation-for="phone" placeholder="Ваш номер телефона" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="email" placeholder="Ваш почтовый адрес" class="input" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group move-blocks">
                        <label asp-for="deliveryTime" style="color: #757575; margin-left: 11px"></label>
                        <div class="col-md-15">
                            <input asp-for="deliveryTime" class="form-control input" />
                            <span asp-validation-for="deliveryTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group move-blocks">
                        <label asp-for="deliveryType" style="color: #757575; margin-left: 11px"></label>
                        <div class="col-md-10 input">
                            <select asp-for="deliveryType">
                                <option>Самовывоз</option>
                                <option>Курьером</option>
                                <option>Дистанционный способ</option>
                            </select>
                            <span asp-validation-for="deliveryType" class="text-danger"></span>
                        </div>
                    </div>
                    <button class="main-btn" type="submit" style="font-family: MontserratBold, sans-serif; margin-left: 15px; margin-top: 15px"> Завершить заказ</button>
                </form>
            </div>
        </div>
    </section>

    <section class="footer" id="footer">
        <div class="phone-contact" style="margin-top: 55px">
            <a href="tel:+375447473028">+375 44 747 30 28</a>
            <p class="text-phone" style="font-size: 20px"><span>Проблемы с оформлением заказа?</span> - звони, мы всегда готовы помочь!</p>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.nav-link").click(function () {
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top + "px"
                }, {
                    duration: 1000,
                    easing: "swing"
                });
                return false;
            });
        });
    </script>

</body>
</html>

